.Searchbox{
    text-align: center;
    margin-bottom: 25px;
}
#city{
    box-shadow: rgba(53, 53, 107, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: #d4d6d9;
    border: none;
}
